In [1]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests

In [2]:
def html_to_df(url, clean_empty = False , attrs = {}):
    '''
    Input:
        url : url from which the tabel need to be scrapping.
        clean_empty : if remove completly empty column.
        attrs : html attr. dict tag while more then on table e.g. {'class' : 'class_name'}.
    Output:
        df : dataframe
    '''
    html_content = requests.get(url).text
    soup = bs(html_content, "lxml")
    table = str(soup.find("table", attrs=attrs))
    df = pd.read_html(str(table))[0]
    
    if clean_empty :
        df = df.loc[:, ~df.isnull().all(axis = 0)]
    
    return df

In [3]:
url = "https://github.com/usama6naseer/largest_object/blob/master/log.csv"

In [4]:
#Original Table at webpage
df1 = html_to_df(url)

In [5]:
df1.head()

   Unnamed: 0   9       qq.com
0         NaN  11   taobao.com
1         NaN  12  twitter.com
2         NaN  15       vk.com
3         NaN  16     live.com
4         NaN  21    weibo.com

In [7]:
#clean empty columns
df = html_to_df(url,clean_empty=True)

In [8]:
df.head()

    9       qq.com
0  11   taobao.com
1  12  twitter.com
2  15       vk.com
3  16     live.com
4  21    weibo.com